@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: red;
}

body {
  color: var(--text-color) !important;
  background: linear-gradient(
    to right,
    #1b1d33,
    #141629,
    #141828,
    #141629,
    #1b1d33
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
